.titulo {
    display: inline-block;
    color: var(--blanco);
    font-size: 32px;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 15px;
    width: 340px;
    text-align: center;
}

@media (max-width: 766px){
    .titulo {
        padding: 0 20px;
    }
}