.listaOpciones{
    margin: 24px 0;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-family: var(--fontSecundaria);
}

.listaOpciones:focus-within label {
    color: #2271D1;
}

.listaOpciones label {
    margin-bottom: 8px;
}

.listaOpciones select {
    font-weight: 500;
    border-radius: 10px;
    padding: 20px 5px;
    background-color: transparent;
    border: 2px solid #A5A5A5 ;
    font-size: 16px;
    color: #fff;
}
    
.listaOpciones select:focus {
    color: #fff; 
    border-color: #2271D1;
    outline: none;
}

.listaOpciones select option {
    background-color: var(--gris);
}

