:root {
  --font: "Roboto", sans-serif;
  --fontSecundaria: "Source Sans 3", sans-serif;
  --blanco: #fff;
  --gris: #262626;  
}

body {
  background-color: var(--gris);
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}